@import url("https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Koulen&display=swap");

:root {
	--primary-color: #4c4c52;
	--secondary-color: #ffa842;
	--tertiary-color: #d9d9d9;
	--btn-base-color: #d9d9d9;
	--text-color-regular: #ffffff;
	--text-color-black: #000000;

	--font-heading: "Koulen", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	--font-primary: "ABeeZee", "Segoe UI", sans-serif;

	--font-size-xs: 12px;
	--font-size-sm: 16px;
	--font-size-base: 18px;
	--font-size-lg: 22.4px;
	--font-size-xl: 30px;
	--font-size-xxl: 50px;

	--border-radius-sm: 20px;
	--border-radius-md: 27px;
	--border-radius-lg: 40px;
	--border-radius-xl: 100px;

	--transition-base: all 0.3s ease-in;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body,
html {
	width: 100dvw;
	height: 100dvh;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	background: var(--primary-color);
	font-family: var(--font-primary);
}

/* ======================= HEADER ============================== */
.app-header {
	width: 100%;
	padding: 0.5rem;

	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.home-btn {
	width: clamp(2.6rem, 3rem, 4rem);
	min-width: 40px;
	height: clamp(2.6rem, 3rem, 4rem);

	background: var(--btn-base-color);
	border-radius: var(--border-radius-lg);
	border: none;

	cursor: pointer;
	transition: var(--transition-base);
}

.header-menu {
	width: 50%;
	max-width: 260px;
	min-width: 150px;
	height: 100%;
	padding: 5px;

	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 12px;

	border-radius: var(--border-radius-lg);
	box-shadow: inset 0 3px 10px rgba(0, 0, 0, 0.3);
}

.header-btn {
	width: 60px;
	height: 100%;

	border-radius: var(--border-radius-xl);
	border: none;
	background: var(--btn-base-color);

	cursor: pointer;
	transition: var(--transition-base);
}

.home-btn:hover,
.header-btn:hover {
	background: var(--secondary-color);
}

.active {
	background: var(--secondary-color);
}

.btn-icon {
	width: 60%;
	height: 60%;
	object-fit: contain;
}

/* ======================= CONTENT: app-container ============================== */
#content {
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
}

/* ======================= CONTENT: home-page ============================== */
.home-page {
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.home-title {
	font-size: clamp(0.8rem, 5vw, 1rem);
	font-family: var(--font-primary);
	font-weight: lighter;
	color: var(--text-color-regular);
	text-align: center;
	text-transform: uppercase;
}

.home-banner {
	font-size: clamp(2rem, 2vw + 3.4rem, 5rem);
	font-family: var(--font-heading);
	font-weight: bold;
	color: var(--text-color-regular);

	max-width: 400px;
	padding: 4px;
	text-align: center;
	text-transform: uppercase;
	line-height: 1;
}

.highlight {
	color: var(--secondary-color);
}

/* ======================= CONTENT: menu-page ============================== */
.menu-page {
	width: 100%;
	max-width: 1200px;
	height: 100%;
	padding: 2rem;

	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
	gap: 1rem;
}

.dish-card {
	width: 100%;
	padding: 1rem;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;

	border-radius: var(--border-radius-md);
	background: var(--tertiary-color);
}

.dish-img {
	width: 100%;
	height: 200px;
	margin-bottom: 0.5rem;
	border-radius: var(--border-radius-md);
}

.dish-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: var(--border-radius-md);
	filter: brightness(65%);
}

.dish-card h3 {
	font-size: var(--font-size-lg);
	font-family: var(--font-heading);

	letter-spacing: 1.6px;
	text-transform: uppercase;
	margin-bottom: 0.5rem;
}

.dish-card p {
	font-size: var(--font-size-sm);
	font-family: var(--font-primary);
	margin-bottom: 0.5rem;
	padding-right: 1rem;
}
