@import url("https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Koulen&display=swap");

:root {
	--primary-color: #4c4c52;
	--secondary-color: #ffa842;
	--tertiary-color: #d9d9d9;
	--btn-base-color: #d9d9d9;
	--text-color-regular: #ffffff;
	--text-color-black: #000000;

	--font-heading: "Koulen", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	--font-primary: "ABeeZee", "Segoe UI", sans-serif;

	--font-size-xs: 12px;
	--font-size-sm: 16px;
	--font-size-base: 18px;
	--font-size-lg: 22.4px;
	--font-size-xl: 30px;
	--font-size-xxl: 50px;

	--border-radius-sm: 20px;
	--border-radius-md: 27px;
	--border-radius-lg: 40px;
	--border-radius-xl: 100px;

	--transition-base: all 0.3s ease-in;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body,
html {
	width: 100dvw;
	height: 100dvh;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	background: var(--primary-color);
	font-family: var(--font-primary);
}

/* ======================= HEADER ============================== */
.app-header {
	width: 100%;
	padding: 0.5rem;

	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.home-btn {
	width: clamp(2.6rem, 3rem, 4rem);
	min-width: 40px;
	height: clamp(2.6rem, 3rem, 4rem);

	background: var(--btn-base-color);
	border-radius: var(--border-radius-lg);
	border: none;

	cursor: pointer;
	transition: var(--transition-base);
}

.header-menu {
	width: 50%;
	max-width: 260px;
	min-width: 150px;
	height: 100%;
	padding: 5px;

	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 12px;

	border-radius: var(--border-radius-lg);
	box-shadow: inset 0 3px 10px rgba(0, 0, 0, 0.3);
}

.header-btn {
	width: 60px;
	height: 100%;

	border-radius: var(--border-radius-xl);
	border: none;
	background: var(--btn-base-color);

	cursor: pointer;
	transition: var(--transition-base);
}

.home-btn:hover,
.header-btn:hover {
	background: var(--secondary-color);
}

.active {
	background: var(--secondary-color);
}

.btn-icon {
	width: 60%;
	height: 60%;
	object-fit: contain;
}

/* ======================= CONTENT: app-container ============================== */
#content {
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
}

/* ======================= CONTENT: home-page ============================== */
.home-page {
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.home-title {
	font-size: clamp(0.8rem, 5vw, 1rem);
	font-family: var(--font-primary);
	font-weight: lighter;
	color: var(--text-color-regular);
	text-align: center;
	text-transform: uppercase;
}

.home-banner {
	font-size: clamp(2rem, 2vw + 3.4rem, 5rem);
	font-family: var(--font-heading);
	font-weight: bold;
	color: var(--text-color-regular);

	max-width: 400px;
	padding: 4px;
	text-align: center;
	text-transform: uppercase;
	line-height: 1;
}

.highlight {
	color: var(--secondary-color);
}

/* ======================= CONTENT: menu-page ============================== */
.menu-page {
	width: 100%;
	max-width: 1200px;
	height: 100%;
	padding: 2rem;

	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
	gap: 1rem;
}

.dish-card {
	width: 100%;
	padding: 1rem;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;

	border-radius: var(--border-radius-md);
	background: var(--tertiary-color);
}

.dish-img {
	width: 100%;
	height: 200px;
	margin-bottom: 0.5rem;
	border-radius: var(--border-radius-md);
}

.dish-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: var(--border-radius-md);
	filter: brightness(65%);
}

.dish-card h3 {
	font-size: var(--font-size-lg);
	font-family: var(--font-heading);

	letter-spacing: 1.6px;
	text-transform: uppercase;
	margin-bottom: 0.5rem;
}

.dish-card p {
	font-size: var(--font-size-sm);
	font-family: var(--font-primary);
	margin-bottom: 0.5rem;
	padding-right: 1rem;
}

/* ======================= CONTENT: about-page ============================== */
.about-page {
	width: 100%;
	max-width: 1200px;
	padding: 1rem;

	align-self: flex-start;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.about-img {
	width: 100%;
	height: 300px;
	margin-bottom: 1rem;
}

.about-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: var(--border-radius-md);
	filter: brightness(70%);
}

.about-content {
	width: 100%;
	max-width: 600px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.heading {
	font-family: var(--font-primary);
	font-size: clamp(2.2rem, 0.3rem + 3vw, 2.5rem);
	margin-bottom: 1rem;
	color: var(--text-color-regular);

	text-align: center;
	text-transform: uppercase;
}

.about-page p {
	font-size: clamp(1rem, 0.3rem + 3vw, 1.3rem);
	font-family: var(--font-primary);
	line-height: 1.5;

	color: var(--text-color-regular);
}

.about-media {
	width: 100%;
	max-width: 300px;
	height: 60px;
	margin-top: 2rem;
	padding: 1rem;

	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;

	box-shadow: inset 0 3px 10px rgba(0, 0, 0, 0.3);
	border-radius: var(--border-radius-lg);
}

.social-media-link {
	width: clamp(55px, 10px + 3vw, 80px);
	height: clamp(35px, 5px + 3vw, 70px);
	padding: 0.4rem;
	border-radius: var(--border-radius-xl);
	border: 2px solid transparent;

	background: var(--secondary-color);

	text-decoration: none;
	transition: var(--transition-base);
}

.social-media-link img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.social-media-link:hover {
	border: 2px solid var(--secondary-color);
	background: transparent;
	box-shadow: inset 0 3px 40px var(--secondary-color);
}

/* ======================= CONTENT: contact-page ============================== */
.contact-page {
	width: 100%;
	max-width: 1200px;
	padding: 1rem;

	align-self: flex-start;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.contact-heading {
	font-family: var(--font-primary);
	font-size: clamp(2.2rem, 0.3rem + 3vw, 2.5rem);
	margin-bottom: 1rem;
	color: var(--text-color-regular);

	text-align: center;
	text-transform: uppercase;
}

.contact-intro {
	max-width: 480px;
	font-size: clamp(0.5rem, 0.3rem + 3vw, 1.2rem);
	font-family: var(--font-primary);
	line-height: 1.5;

	color: var(--text-color-regular);
	text-align: center;
}

.contact-container {
	width: 100%;
	height: 100%;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1.5rem;
}

.contact-information {
	width: minmax(35%, 100%);
	flex-grow: 1;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 12px;
}

.contact-item {
	width: 100%;
	padding: 0.5rem;

	display: grid;
	grid-template-columns: auto 1fr;
	align-items: center;
	gap: 5px;

	background: var(--primary-color);
	border: 3.5px solid var(--secondary-color);
	border-radius: var(--border-radius-xl);
}

.contact-icon {
	width: clamp(30px, 40px + 2vw, 60px);
	height: clamp(30px, 40px + 2vw, 60px);
	border-radius: var(--border-radius-xl);
	background: var(--secondary-color);

	display: flex;
	align-items: center;
	justify-content: center;
}

.contact-icon img {
	width: 50%;
	height: 50%;
	object-fit: contain;
}

.contact-item-description {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 0.4rem;
}

.contact-item-heading {
	font-size: clamp(1.3rem, 0.3rem + 3vw, 1.5rem);
	font-family: var(--font-primary);

	text-transform: uppercase;
	color: var(--text-color-regular);
}

.contact-item-info {
	font-size: clamp(0.5rem, 0.3rem + 3vw, 1rem);
	color: var(--text-color-regular);
}

.schedule-container {
	width: 600px;
	padding: 1rem;
	flex-grow: 1;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1rem;

	background: var(--tertiary-color);
	border-radius: var(--border-radius-md);
}

.schedule-heading {
	font-size: clamp(2rem, 0.1rem + 3vw, 2.3rem);
	font-family: var(--font-heading);
	color: var(--primary-color);
	text-transform: uppercase;

	align-self: center;
}

.schedule-item {
	width: clamp(200px, 10px + 3vw, 260px);
	height: clamp(105px, 10px + 3vw, 120px);
	flex-grow: 1;
	padding: 5px;

	display: grid;
	grid-template-columns: 60px 1fr;
	align-items: center;

	background: var(--primary-color);
	border-radius: var(--border-radius-sm);
	border: 4px solid var(--secondary-color);
}

.schedule-number {
	width: clamp(40px, 10px + 3vw, 60px);
	height: clamp(40px, 10px + 3vw, 60px);
	border-radius: var(--border-radius-lg);
	background: var(--secondary-color);

	color: var(--text-color-regular);
	font-family: var(--font-heading);
	font-size: clamp(1rem, 0.3rem + 3vw, 1.3rem);

	justify-self: center;

	display: flex;
	justify-content: center;
	align-items: center;
}

.schedule-info {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.schedule-item-heading {
	font-size: clamp(1rem, 0.1rem + 3vw, 1.2rem);
	font-family: var(--font-primary);
	color: var(--text-color-regular);
	text-transform: uppercase;

	margin-bottom: 5px;
}

.schedule-hours {
	font-size: clamp(0.6rem, 0.1rem + 3vw, 0.9rem);
	color: var(--text-color-regular);
}

.contact-map-location {
	width: 100%;
	height: clamp(200px, 20px + 3vw, 250px);
	flex-grow: 1;

	display: grid;
	align-items: center;
	justify-items: center;

	box-shadow: inset 0px 3px 50px rgba(0, 0, 0, 0.3);
	border-radius: var(--border-radius-md);
}

.map-btn {
	width: clamp(130px, 10px + 3vw, 160px);
	height: clamp(50px, 10px + 3vw, 80px);

	border-radius: var(--border-radius-xl);
	border: 3px solid var(--secondary-color);
	background: var(--primary-color);

	text-align: center;
	color: var(--text-color-regular);
	font-size: clamp(0.8rem, 0.3rem + 3vw, 1.03rem);

	cursor: pointer;
	transition: var(--transition-base);
}

.map-btn:hover {
	background: var(--secondary-color);
}

.map-btn:hover span {
	color: var(--primary-color);
}

.contact-media-items {
	width: 100%;
	max-width: 300px;
	height: 60px;
	padding: 1rem;

	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;

	box-shadow: inset 0 3px 10px rgba(0, 0, 0, 0.3);
	border-radius: var(--border-radius-lg);
}

/* ======================= MEDIA QUERIES ============================== */
@media (min-width: 600px) {
	.about-img {
		width: 84%;
		height: 55vh;
		filter: brightness(65%);
	}
}

@media (min-width: 900px) {
	body {
		position: relative;

		display: grid;
		grid-template-columns: 85px 1fr 85px;
		max-width: 1285px;
		margin: 0 auto;
		width: 100%;
	}

	.app-header {
		grid-column: 3;
		width: 85px;
		height: 350px;

		position: sticky;
		top: 1rem;
		right: 0;
		z-index: 1000;

		display: flex;
		flex-direction: column;
	}

	.home-btn {
		width: 66px;
		height: 4.2rem;
	}

	.header-menu {
		min-width: 90%;
		height: 280px;
		padding: 0.5rem;
		flex-direction: column;
	}

	.header-btn {
		width: 100%;
		height: 4rem;
	}

	#content {
		grid-column: 2;
		grid-row: 1;
		width: 100%;

		display: flex;
		justify-content: center;
		align-items: center;
		padding: 2rem;
		overflow-y: visible;
		max-height: 100vh;
	}

	.home-page {
		max-width: 800px;
		width: 100%;
	}

	.menu-page {
		width: 100%;
		height: 100%;
		max-width: none;
	}

	.about-page {
		height: 100%;
		max-width: 1000px;

		display: grid;
		grid-template-columns: 1.5fr 1.2fr;
		gap: 1.5rem;
		margin: auto;
	}

	.about-img {
		width: 98%;
		height: 100%;
		max-height: 700px;
		margin: auto 0;
	}

	.about-content {
		width: 100%;
		height: 100%;
		max-height: 700px;
		align-self: center;
		align-items: center;
		justify-content: flex-start;
	}

	.heading {
		margin: 5rem auto;
	}

	.about-page p {
		font-size: 1rem;
		text-align: center;
		margin-bottom: 3rem;
	}

	.about-media {
		width: 70%;
		max-width: none;
		height: 60px;
		padding: 6px;

		justify-content: space-evenly;
	}

	.social-media-link {
		width: clamp(50px, 10px + 2vw, 90px);
		height: clamp(40px, 10px + 2vw, 70px);
	}

	.contact-page {
		height: 100%;
		width: 100%;
		align-items: center;
	}

	.contact-container {
		height: fit-content;
		align-items: flex-start;
	}

	.contact-information {
		flex-basis: 40%;
	}

	.contact-item {
		position: relative;
		text-align: center;

		border-radius: var(--border-radius-lg);
	}

	.contact-icon {
		width: 50px;
		height: 50px;
	}

	.contact-item-description {
		width: 100%;
		text-align: left;
	}

	.contact-item-heading {
		font-size: 1.2rem;
	}

	.schedule-container {
		width: 50%;
		align-content: center;
		gap: 0.5rem;
	}

	.schedule-number {
		width: 40px;
		height: 40px;
	}
}
